<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id, autofocus: true, autocomplete: "user_id", value: (resource.pending_reconfirmation? ? resource.unconfirmed_user_id : resource.user_id) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
