<!DOCTYPE html>
<html>
  <head>
    <title>Loview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if current_user.present? %>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
      <%= link_to "edit password", edit_user_registration_path %>
    <% else %>
      <%= link_to "login", new_user_session_path %>
    <% end %>
    <% if current_account.present? %>
      <%= link_to "edit account", edit_account_path(current_account.id) %>
    <% end %>
  </body>
</html>
